body {
    background-color: aquamarine;
}
.transFormDiv label {
    display: block;
    margin-bottom: 5px;
    font-size: 5vw;
}
.transFormDiv input  {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.enabled {
    color: green;
}
.disabled {
    color: red;
    position: relative;
    display: inline-block;
    cursor: help;
}
.disabled-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    background: rgb(42, 131, 101);
    left: 0;
    top: 100%;
    width: max-content;
    font-size: 50%;
    border: 2px solid #ccc;
    border-radius: 5px 10px 20px 0;
    transition: opacity 0.5s ease;
    padding: 5px;
}
.disabled:hover .disabled-text{
    visibility: visible;
    z-index: 11;
    opacity: 1;
}